# Ignore ALL virtual environment folders/files under backend
backend/Scripts/
backend/Lib/
backend/Include/
backend/pyvenv.cfg
backend/pip-selfcheck.json
backend/share/
backend/testing/

# Ignore your ChromaDB folder
backend/vectorDB/brain_medical_database/


# Ignore Python cache
__pycache__/
*.pyc
*.pyo


# Ignore logs
*.log

# Streamlit
etc


# Temp Ignore
admin_frontend
backend/vectorDB/t.py
backend/vectorDB/temp.py


# Ignore ChromaDB internal folder if present elsewhere
.chromadb/

# Store Room contains all the files some working while some not
storeRoom