# Ignore ALL virtual environment folders/files under backend
backend/Scripts/
backend/Lib/
backend/Include/
backend/pyvenv.cfg
backend/pip-selfcheck.json
backend/share/

# Ignore your ChromaDB folder
backend/vectorDB/brain_medical_database/


# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore logs
*.log

# Ignore ChromaDB internal folder if present elsewhere
.chromadb/
